body{
    padding-bottom: 30px;
}
.buttons {
    border: none;
    color: white;
    padding: 10px 32px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 0px; 
    font-size: 14px;
    font-weight: 700;
    font-family: "Source Sans Pro", arial, sans-serif;
    color: black;

 }
 /* Start cart icon */
 .btn-cart{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border-radius: 60%;
    border: none;
 }
 .btn-cart .fa{
    padding: 6px;
    color: white;
    padding-right: 8px;
 }
 .wrapper {
    position: relative;
}

.wrapper .countCart {
    background-color: red;
    position: fixed;
    z-index: 199;
    bottom: 60px;
    right: 30px;
    font-size: 17px;
  
}
/* End cart icon */

/* Start main bar */
 .bar{
    background-image:url('../images/bar_images.jpg');
    background-size: cover;
    height: 500px;
 }
 .mainBar{
     color: green;
 }

/* End main bar */
 /* Start Subscribe */

  .SubscribeInput{
    background-color: rgb(246, 246, 246);
    border-color: rgb(218, 218, 218);
    border-width: 0px;
    padding: 10px 32px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Source Sans Pro", arial, sans-serif;
    min-width: 600px;
    margin: 10px;
  }
  .Subscribe{
      margin-left: 8%;
  }
  .Subscribe .title{
      margin: 10px;
      display: inline;
  }
  /* End Subscribe */


/* Start slider */
.gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 60%;
    height: 400px;
    opacity: 0.2;
  }
  .is-selected{
    opacity: 1;
  }
  .gallery-cell img{
      height: 100%;
      width: 100%;
  }
  
/* End slider */

/* Start shop now section */
.shop-now-section{
    margin: 20px;
    margin-top: 60px;
}
.shop-now-section p{
    font-size: 38px;
    font-family: 'Fjalla One', arial, sans-serif;
    line-height: 1.2;
    font-weight: 500;
    color: rgb(27, 27, 27);
}

/* End shop now section */

/* Start about us section */
.aboutus div{
    text-align: center;
    margin-top: 70px;
    max-width: 50%;
}
.aboutus img{
    float: right;
    max-width: 50%;
}
.aboutus ul { display:inline-table; }
.aboutus p{
    line-height: 2.5em;
    font-weight: 600;
}
/* End about us section */


@media (max-width:768px) {

     /* Start main bar */
    .bar{
        height: 500px;
    }
  
    /* End main bar */

    /* Start Subscribe */
    .Subscribe .buttons , .SubscribeInput{
        width:100%
    }
    .Subscribe{
        margin-left: 0px;
    }
    .Subscribe .title{
        display: block;
    }
    /* End Subscribe */


    /* Start about us section */
    .aboutus div{
        min-width: 100%;
    }
    .aboutus img{
        float: left;
        min-width: 100%;
    }
  
    
    /* End about us section */

  }